@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
#home {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 25px;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  justify-content: space-around;
}
#home #form {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  height: -moz-fit-content;
  height: fit-content;
  width: 80%;
  justify-content: space-around;
}
@media (min-width: 500px) {
  #home #form {
    width: 50%;
  }
}
#home #choose {
  border: 0px transparent;
  background-color: #202B3B;
  height: 25px;
  padding: 5px;
  color: white;
  width: 225px;
  border-radius: 10px;
}
#home #choose::-moz-placeholder {
  color: white;
}
#home #choose::placeholder {
  color: white;
}
#home #choose:focus {
  color: white;
}
@media (min-width: 500px) {
  #home #choose {
    width: 40%;
    order: 0;
  }
}

#submit {
  border: 0px transparent;
  cursor: pointer;
  color: white;
  background-color: #202B3B;
  height: 35px;
  width: 85px;
  border-radius: 10px;
  transition: 150ms;
  margin-left: 5%;
}
#submit:hover {
  background-color: #29374c;
}
@media (min-width: 500px) {
  #submit {
    width: 20%;
    margin-left: 1%;
    order: -1;
  }
}

#add {
  border: 0px transparent;
  cursor: pointer;
  color: white;
  background-color: #202B3B;
  height: 35px;
  width: 85px;
  border-radius: 10px;
  transition: 150ms;
  margin-left: 2%;
}
#add:hover {
  background-color: #29374c;
}
@media (min-width: 500px) {
  #add {
    width: 20%;
    margin-left: 1%;
  }
}

main {
  margin-top: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .cityName {
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 36px;
  margin-bottom: 0px;
  font-family: "Nunito", sans-serif;
  text-transform: capitalize;
}
@media (min-width: 500px) {
  main .cityName {
    font-size: 55px;
  }
}
@media (min-width: 1020px) {
  main .cityName {
    font-size: 65px;
  }
}
main .temperature {
  text-align: center;
  margin-top: 0px;
  color: white;
  font-size: 30px;
  font-family: "Nunito", sans-serif;
}
@media (min-width: 500px) {
  main .temperature {
    font-size: 34px;
  }
}
@media (min-width: 1020px) {
  main .temperature {
    font-size: 36px;
  }
}
@media (min-width: 500px) {
  main .imgSky {
    width: 20%;
    min-width: 224px;
  }
}
main .descR {
  margin-top: 0;
  color: #9399A2;
  font-family: "Nunito", sans-serif;
}
@media (min-width: 500px) {
  main .descR {
    font-size: 32px;
  }
}
main .bigDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 500px) {
  main .bigDiv {
    margin-top: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 500px;
    margin-bottom: 15px;
  }
}
@media (min-width: 1020px) {
  main .bigDiv {
    height: 900px;
  }
}
main .normalDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
@media (min-width: 500px) {
  main .normalDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 45%;
    height: 100%;
  }
}
main #today {
  width: 87%;
  height: 210px;
  background-color: #202B3B;
  border-radius: 18px;
  margin-bottom: 25px;
}
@media (min-width: 500px) {
  main #today {
    width: 100%;
    height: 47%;
    margin-right: auto;
  }
}
main #today #todays {
  margin-left: 15px;
  margin-top: 18px;
  font-size: small;
  color: #9399A2;
  font-family: "Nunito", sans-serif;
}
@media (min-width: 1020px) {
  main #today #todays {
    font-size: medium;
    margin-left: 25px;
    margin-top: 28px;
  }
}
main #today .forecastDay {
  display: flex;
  height: 200px;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
@media (min-width: 1020px) {
  main #today .forecastDay {
    height: 100%;
  }
}
main #today .forecastDay #matin {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
  width: 30%;
  border-right: #9399A2 1px solid;
}
@media (min-width: 1020px) {
  main #today .forecastDay #matin {
    height: 75%;
  }
}
main #today .forecastDay #midi {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
  width: 25%;
}
@media (min-width: 1020px) {
  main #today .forecastDay #midi {
    height: 75%;
  }
}
main #today .forecastDay #midi .imgToday {
  width: 92%;
  height: auto;
}
@media (min-width: 1020px) {
  main #today .forecastDay #midi .imgToday {
    width: 100%;
  }
}
main #today .forecastDay #soir {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
  width: 30%;
  border-left: #9399A2 1px solid;
}
@media (min-width: 1020px) {
  main #today .forecastDay #soir {
    height: 75%;
  }
}
main #today .forecastDay .hour {
  margin: 0;
  color: #9399A2;
  margin-bottom: 3px;
}
main #today .forecastDay .imgToday {
  width: 75%;
  height: auto;
}
@media (min-width: 1020px) {
  main #today .forecastDay .imgToday {
    width: 85%;
    margin-top: auto;
    margin-bottom: auto;
  }
}
main #today .forecastDay .tempToday {
  margin: 0;
  color: #9399A2;
}
@media (min-width: 1020px) {
  main #today .forecastDay .tempToday {
    font-size: 28px;
    margin-top: auto;
  }
}
main #week {
  width: 87%;
  height: 460px;
  background-color: #202B3B;
  border-radius: 18px;
  margin-top: 25px;
}
@media (min-width: 500px) {
  main #week {
    width: 45%;
    height: 500px;
    margin-top: auto;
  }
}
@media (min-width: 1020px) {
  main #week {
    height: 100%;
  }
}
main #week #weeks {
  color: #9399A2;
  margin-left: 5%;
  margin-top: 5%;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}
main #week .forecastWeek {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80%;
}
main #week #un {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  border-bottom: #35455E 1px solid;
}
main #week #deux {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  border-bottom: #35455E 1px solid;
}
main #week #trois {
  border-bottom: #35455E 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
}
main #week #quatre {
  border-bottom: #35455E 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
}
main #week #cinq {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  border-radius: 10px;
}
main #week .tempW {
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  margin-left: 10px;
  font-size: 17px;
  font-weight: 400;
  color: #9399A2;
}
main #week .day {
  margin-left: 8px;
  font-family: "Nunito", sans-serif;
  color: #9399A2;
}
main #week .imgW {
  width: 20%;
  margin-left: auto;
}
main .divImgW {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 87%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #202B3B;
  border-radius: 18px;
}
@media (min-width: 500px) {
  main .divImgW {
    width: 100%;
    padding: 0;
    height: 47%;
    margin-right: auto;
  }
}
main .cityImg {
  width: 85%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
}
main .titleCity {
  text-transform: capitalize;
  color: #9399A2;
  margin: 0;
  margin-bottom: 5px;
  font-family: "Nunito", sans-serif;
}
@media (min-width: 1020px) {
  main .titleCity {
    font-size: 28px;
    margin-bottom: 25px;
  }
}
main .divChart {
  margin-top: 25px;
  width: 81%;
  height: 200px;
  margin-bottom: 25px;
  padding: 20px;
  background-color: #202B3B;
  border-radius: 18px;
}
@media (min-width: 500px) {
  main .divChart {
    width: 60%;
    height: 570px;
  }
}

html {
  background-color: #0B131E;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  margin: 0%;
  flex-direction: column;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=style.css.map */