@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

main {
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .cityName {
        text-align: center;
        margin-top: 20px;
        color: white;
        font-size: 36px;
        margin-bottom: 0px;
        font-family: 'Nunito', sans-serif;
        text-transform: capitalize;
        @include for-tablet {
            font-size: 55px;
        }

        @include for-desktop {
            font-size: 65px;
        }
    }

    .temperature {
        text-align: center;
        margin-top: 0px;
        color: white;
        font-size: 30px;
        font-family: 'Nunito', sans-serif;
        @include for-tablet {
            font-size: 34px;
        }

        @include for-desktop {
            font-size: 36px;
        }
    }

    .imgSky {
        @include for-tablet {
            width: 20%;
            min-width: 224px;
        }
    }

    .descR {
        margin-top: 0;
        color: #9399A2;
        font-family: 'Nunito', sans-serif;
        @include for-tablet {
            font-size: 32px;
        }
    }

    .bigDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        @include for-tablet {
            margin-top: 50px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            height: 500px;
            margin-bottom: 15px;
        }

        @include for-desktop {
            height: 900px;
        }
    }

    .normalDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;

        @include for-tablet {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 45%;
        height: 100%;
        }
    }

    #today {
        width: 87%;
        height: 210px;
        background-color: $secondary;
        border-radius: 18px;
        margin-bottom: 25px;

        @include for-tablet {
            width: 100%;
            height: 47%;
            margin-right: auto;
        }

        #todays {
            margin-left: 15px;
            margin-top: 18px;
            font-size: small;
            color: #9399A2;
            font-family: 'Nunito', sans-serif;

            @include for-desktop {
                font-size: medium;
                margin-left: 25px;
                margin-top: 28px;
            }
        }

        .forecastDay {
            display: flex;
            height: 200px;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 20px;
            @include for-desktop {
                height: 100%;
            }

            #matin {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 120px;
                width: 30%;
                border-right: #9399A2 1px solid;

                @include for-desktop {
                    height: 75%;
                }
            }

            #midi {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 120px;
                width: 25%;

                @include for-desktop {
                    height: 75%;
                }
                .imgToday {
                    width:92%;
                    height: auto;

                    @include for-desktop {
                        width: 100%;
                    }
                }
            }

            #soir {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 120px;
                width: 30%;
                border-left: #9399A2 1px solid;
                @include for-desktop {
                    height: 75%;
                }
            }

            .hour {
                margin: 0;
                color: #9399A2;
                margin-bottom: 3px;
            }

            .imgToday {
                width:75%;
                height: auto;
                @include for-desktop {
                    width: 85%;
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }
            
            .tempToday {
                margin: 0;
                color: #9399A2;

                @include for-desktop {
                    font-size: 28px;
                    margin-top: auto;
                }
            }
        }
    }

    #week {
        width: 87%;
        height: 460px;
        background-color: $secondary;
        border-radius: 18px;
        margin-top: 25px;

        @include for-tablet {
            width: 45%;
            height: 500px;
            margin-top: auto;
        }

        @include for-desktop {
            height: 100%;
        }

        #weeks {
            color: #9399A2;
            margin-left: 5%;
            margin-top: 5%;
            font-family: 'Nunito', sans-serif;
            font-size: 20px;
        }

        .forecastWeek {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 80%;
        }

        #un {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 95%;
            border-bottom: #35455E 1px solid;
        }

        #deux {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 95%;
            border-bottom: #35455E 1px solid;
        }

        #trois {
            border-bottom: #35455E 1px solid;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 95%;
        }

        #quatre {
            border-bottom: #35455E 1px solid;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 95%;
        }

        #cinq {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 95%;
            border-radius: 10px;
        }

        .tempW {
            height: fit-content;
            margin: 0;
            margin-left: 10px;
            font-size: 17px;
            font-weight: 400;
            color: #9399A2;
        }

        .day {
            margin-left: 8px;
            font-family: 'Nunito', sans-serif;
            color: #9399A2;
        }

        .imgW {
            width: 20%;
            margin-left: auto;
        }
    }

    .divImgW {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 87%;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: $secondary;
        border-radius: 18px;
        @include for-tablet {
            width: 100%;
            padding: 0;
            height: 47%;
            margin-right: auto;
        }
    }
    .cityImg {
            width: 85%;
            height: 70%;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
    }
    .titleCity {
        text-transform: capitalize;
        color: #9399A2;
        margin: 0;
        margin-bottom: 5px;
        font-family: 'Nunito', sans-serif;

        @include for-desktop {
            font-size: 28px;
            margin-bottom: 25px;
        }
    }

    .divChart {
        margin-top: 25px;
        width: 81%;
        height: 200px;
        margin-bottom: 25px;
        padding: 20px;
        background-color: $secondary;
        border-radius: 18px;

        @include for-tablet {
            width: 60%;
            height: 570px;
        }
    }
}